@import url(./__main-illustration/feynman____main-illustration.css);
@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__link/feynman__link.css);

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center; /*центрирование по вертикали*/
  padding-top: 100px;
}
