.footer__link-itself {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.footer__link-itself:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear 0.5s;
}

